body {
  margin: 0;
  background-color: #f5f5f5;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #0d1b2a;
  display: flex;
  color: white;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  grid-auto-rows: minmax(150px, auto);
}

.category-card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #0077cc;
  color: white;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  text-align: center;
}

/* Tablet (≤ 1024px): 2 columnas */
@media (max-width: 1024px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Móvil (≤ 600px): 1 columna */
@media (max-width: 600px) {
  .grid_container {
    grid-template-columns: 1fr;
  }
}
